.sidebar {
  width: 250px;
  background: color('sidebar-bg');
  color: white;
  height: 100vh;
  position: fixed;

  a {
    display: block;
    padding: 10px;
    color: white;

    &:hover {
      background: color('sidebar-hover');
    }
  }

  @include respond-to('md') {
    display: none;
  }
}